.footer {
  background-image: url("/images/backgrounds/blueMarble.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;

    img {
      width: 65px;
      margin-right: 10px;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    &__text {
      font-size: 14px;
      white-space: pre-wrap;
      text-align: center;
      color: #ffffff;

      @media (max-width: 1024px) {
        font-size: 12px;
      }
    }
  }

  &__socials {
    @media (max-width: 1024px) {
      margin-bottom: 10px;
    }

    a {
      margin-right: 15px;

      &:hover {
        .telegram {
          color: #0088cc;
        }
        .whatsapp {
          color: #25d366;
        }
      }

      @media (max-width: 1024px) {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__svg {
      width: 40px;
      height: 40px;
      color: #ffffff;

      @media (max-width: 1024px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
