.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  border-bottom: 1px solid #7a7979;

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logoWrapper {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    margin-right: 50px;

    img {
      width: 50px;
    }

    p {
      text-transform: uppercase;
      white-space: pre-wrap;
      text-align: center;
      margin-left: 10px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      display: none;
    }

    li {
      font-size: 21px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 300;
    }
  }
}

.burger-menu {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }

  li {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 300;

    &:last-child {
      margin: 0;
    }
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition-duration: 0.25s;
}

.menu-btn > span::before {
  content: "";
  top: -8px;
}

.menu-btn > span::after {
  content: "";
  top: 8px;
}

.menubox {
  position: fixed;
  visibility: hidden;
  display: flex;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #eceff1;
  transition-duration: 0.25s;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}
